:root {
  --clr-darkslategrey: #242742;
  --clr-charcoalgrey: #36384e;
  --clr-grey: #9294a0;
  --clr-white: #ffffff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}
